*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
header {
    width: 100vw;
    height: 75px;
    position: relative;
    background: rgb(144, 194, 68);
}

/* TÍTULO CENTRADO */
header h2 {
    position: absolute;
    left: 47%;
    top: 20px;
    margin: 0;
    color: #000000;
    font-weight: bold;
}

header a {
    float: right;
    margin: 30px 20px 0 0;
    text-decoration: none;
    font-weight: bold;
    color: #000032;
}
header img{
    width: 81px;
}
.fotodetrail{
    text-align: center;
    background-color: rgb(20, 71, 20);
}
.video{
    text-align: center;
    background-color: rgb(186, 235, 112);
}
footer{
    display: inline-block;
    text-align: center;
    background-color: rgb(144, 194, 68);
}