body,
html {
    padding: 0;
    margin: 0;
    background-color: #117de9;
    font-family: Arial, Helvetica, sans-serif
}
header {
    width: 100vw;
    height: 75px;
    position: relative;
    background: #4b9df0;
}

/* TÍTULO CENTRADO */
header h2 {
    position: absolute;
    left: 47%;
    top: 20px;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
}

header a {
    float: right;
    margin: 30px 20px 0 0;
    text-decoration: none;
    font-weight: bold;
    color: #00324b;
}
header img{
    width: 81px;
}
.carrusel{
    margin: 100px auto;
    width: 90%;
    border: 5px solid green;
    display: flex;
}
.carrusel::-webkit-scrollbar{
    display: none;
}
.grupo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 5s infinite linear;
}
.tarjetas{
    height: 5em;
    padding: 1em;
    background: rgb(130, 180, 54);
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}
@keyframes spin{
    from {translate: 0;}
}
.contenedor {
    margin-top: 30px;
}

.producto {
    display: inline-block;
    margin: 20px;
}

.producto img {
    width: 150px;
    height: 150px;
}
footer{
    display: inline-block;
    text-align: center;
    background-color: rgb(0, 183, 255);
}