body,
html {
    padding: 0;
    margin: 0;
    background-color: #117de9;
    font-family: Arial, Helvetica, sans-serif
}
header {
    width: 100vw;
    height: 75px;
    position: relative;
    background: #4b9df0;
}

/* TÍTULO CENTRADO */
header h2 {
    position: absolute;
    left: 47%;
    top: 20px;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
}

header a {
    float: right;
    margin: 30px 20px 0 0;
    text-decoration: none;
    font-weight: bold;
    color: #00324b;
}
ul,li {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

ul.slider {
    position: relative;
    width: 800px;
    height: 440px;
    margin: 40px auto 0 auto;
}

/* DIAPOSITIVAS */
ul.slider li {
    width: 500px;
    height: 350px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity .5s;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

/* PRIMERA VISIBLE */
ul.slider li:first-child {
    opacity: 1;
}

/* TARGET */
ul.slider li:target {
    opacity: 1;
}

/* IMAGEN GRANDE */
.slider img {
    width: 800px;
    height: 450px;
}

/* TEXTO SOBRE IMAGEN */
.slider li p {
    position: absolute;
    height: 60px;
    width: 300px;
    left: 20px;
    top: 20px;
    color: white;
}

/* MINIATURAS DEBAJO */
nav {
    width: 800px;
    margin: 20px auto 0 auto;
    position: relative;
    background: #117de9;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    width: 200px;
    height: 290px;
}

/* ENLACES MINIATURAS */
nav a {
    text-decoration: none;
    font-weight: bold;
    color: #23adf1;
}

/* IMÁGENES MINIATURA */
nav img {
    width: 210px;
    height: 263px;
}
footer{
    display: inline-block;
    text-align: center;
    background-color: rgb(0, 183, 255);
}